<section id="footer">
    <div class="container">
        <div class="row info">
            <div class="col-md-4">
                <h5>Beauty</h5>
                <p>Find the best skincare products for all skin types with best quality.</p>
            </div>
            <div class="col-md-4">
                <h5>Products</h5>
                <span>Makeup</span>
                <span>Skin</span>
                <span>Hair</span>
            </div>
            <div class="col-md-4">
                <h5>Store information</h5>
                <span><i class="fas fa-map-marker-alt"></i> Cairo, Egypt</span>
                <span><i class="fas fa-phone"></i> +02123456</span>
                <span><i class="fas fa-envelope"></i> Beauty@gmail.com</span>
            </div>
        </div>
        <hr>
        <div class="row icons">
            <div class="col-sm-6">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/images/payments.png">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-center cpyRight">© 2021 - Ecommerce software by ITI</div>
        </div>
    </div>
</section>
