<section id="users">
    <div class="container">
        <div class="row searchwrapper">
            <input type="text" name="" id="" class="search" placeholder="Search for name...">
        </div>
        <div class="row conusers">
            <div class="col-xs-3 lg-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/images/user3.jpg" alt="user image">
                    <div class="card-body">
                        <h3 class="card-title">Menna Omar</h3>
                        <div class="card-text">
                            <p>Gender: Female</p>
                            <p>Phone: 01211883346</p>
                            <p>Address: ayzft</p>
                        </div>
                        <div class="icons">
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-trash"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-3 lg-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/images/user3.jpg" alt="user image">
                    <div class="card-body">
                        <h3 class="card-title">Menna Omar</h3>
                        <div class="card-text">
                            <p>Gender: Female</p>
                            <p>Phone: 01211883346</p>
                            <p>Address: ayzft</p>
                        </div>
                        <div class="icons">
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-trash"></i>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-3 lg-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/images/user3.jpg" alt="user image">
                    <div class="card-body">
                        <h3 class="card-title">Menna Omar</h3>
                        <div class="card-text">
                            <p>Gender: Female</p>
                            <p>Phone: 01211883346</p>
                            <p>Address: ayzft</p>
                        </div>
                        <div class="icons">
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-trash"></i>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>